body {
    background-color: black;
}

h1 {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.lion {
    background-image: url("https://dearsam.com/img/800/600/resize/l/i/lion-black-and-white-50x70_3a189.jpg");
    background-repeat: no-repeat;
    width: 600px;
    height: 600px;
}

button {
    padding: 3px 15px;
    border-radius: 10px;
    background-color: transparent;
    font-weight: bold;
    color: white;
}

input {
    display: block;
    margin: 10px auto;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    margin: auto;
}

.flex {
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
}

.connexion {
    display: flex;
    justify-content: end;
}


.buttons {
    display: flex;
    justify-content: space-between;
}

body {

    margin: 0;



    padding: 0;



    background-color: plum;

}



.container {

    width: 60%;

    display: flex;

    flex-wrap: wrap;

    justify-content: space-around;

    margin: auto;

}



input {

    width: 100%;



    height: 35px;



}



.profil {

    width: 30px;



    height: 30px;

}



.profil img {

    width: 100%;



    height: 100%;



    border-radius: 50%;

}



nav {

    display: flex;



    justify-content: flex-end;



    border: solid 2px;

}



.logout {

    background-color: palevioletred;



    color: white;



    height: 30px;

}

.post {

    width: 200px;

    height: 250px;

    margin: 10px;

}

.postimg {

    width: 200px;

    height: 200px;

}

.postimg img {

    width: 100%;

    height: 100%;

}